<%- include("partials/header"); -%>
<br>
<br>


<div class="container">
    <h2>Schedule Tool</h2>
    <br>
    <form action="/schedule-tool" method="post">
        <div class="row">
            <div class="form-group col-md-6">
                <!-- <label for="start">Start Date:</label>
                <input type="date" name="start" value="<%= startDate %>">
                <label for="start">&emsp;End Date:</label>
                <input type="date" name="end" value="<%= endDate %>"> -->

                <div class="input-group mb-3">
                    <span class="input-group-text">Start Date:</span>
                    <input type="date" name="start" value="<%= startDate %>" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">End Date:&nbsp&nbsp</span>
                    <input type="date" name="end" value="<%= endDate %>" class="form-control">
                </div>

            </div>
            <div class="form-group mb-3 col-md-6">
                <button type="submit" class="btn btn-danger mb-3 col-md-12" name="button" value="load">Load Results</button>
                <button type="submit" class="btn btn-danger mb-3 col-md-12" name="button" value="reset">Reset to Current Week</button>
            </div>  
        </div>

    </form>
    <table id="myTable">
        <tr>
            <th onClick="sortTable(0)">Team <i class="fas fa-sort"></i></th>
            <% var count = 0 %>
            <% games.dates.forEach(function(day) { %>
                <% count ++ %>
                <th onClick="sortTable(<%=count%>)">
                    <%= new Date(day.date + " ").toLocaleDateString("en-us", {weekday: "short", month: "numeric", day: "numeric"})%> (<%= day.games.length %>) %> <i class="fas fa-sort"></i>
                </th>
            <% }); %>
           
            <th onClick="sortTable(<%= count + 1 %>)">
                Games <i class="fas fa-sort"></i>
            </th>
            <th onClick="sortTable(<%= count + 2 %>)">
                Off-Nights <i class="fas fa-sort"></i>
            </th>
            <% activeTeams.forEach(function(teamName) { %>
                <% var gamesPlayed = 0 %>
                <% var offNights = 0 %>
                <tr>
                    <td>
                        <img class="team-logo" src="<%= NHL_TEAMS[teamName].logo %>"> <%= NHL_TEAMS[teamName].abbreviation %> 
                    </td>
                    <% games.dates.forEach(function(day) { %>
                        <% var isPlaying = false %>
                        <% day.games.forEach(function(game) { %>
                            <% if (game.teams.away.team.name === teamName || game.teams.home.team.name === teamName) { %>
                                <% gamesPlayed ++ %>
                                <% if (day.games.length < 8) { %>
                                    <% offNights ++ %>
                                <% } %>
                                <% if (game.teams.away.team.name === teamName) { %>
                                    <% isPlaying = true %>
                                    <td class="away">
                                        <img class="team-logo" src="<%= NHL_TEAMS[game.teams.home.team.name].logo %>"> <%= NHL_TEAMS[game.teams.home.team.name].abbreviation %> 
                                    </td>
                                <% } else if (game.teams.home.team.name === teamName) { %>
                                    <% isPlaying = true %>
                                    <td class="home">
                                        <img class="team-logo" src="<%= NHL_TEAMS[game.teams.away.team.name].logo %>"> <%= NHL_TEAMS[game.teams.away.team.name].abbreviation %> 
                                    </td>
                                <% } %>
                            <% }; %>
                        <% }); %>
                        <% if (!isPlaying) { %>
                            <td></td>
                        <% } %>
                    <% }); %>
                    <td>
                        <%= gamesPlayed %>
                    </td>
                    <td>
                        <%= offNights %>
                    </td>
                </tr>
            <% }); %> 
    </table>
    <br>
    <div class="text-center">
        <p><span class="home">&emsp;Home Game&emsp;</span>&emsp;<span class="away">&emsp;Away Game&emsp;</span></p>
    </div>
    <br>
    <br>

</div>


<%- include("partials/ad-free-footer"); -%>